.Map{
    text-align: center;
    background-color: rgb(15, 101, 140);
    background-image: url('../images/vintage_paper_background_27081.jpg');
    overflow-x: hidden;
    background-size: 100vw 100%;
    background-repeat:no-repeat ;
    font-family: 'Charm', cursive; 
    min-height: 100vh;
    text-transform: none !important;
}

.underline{
    margin-bottom: 30px;
}



